.container {
    /* max-width: var(--max-container-width, 1200px);
    margin: 0 auto; */
    padding: 0 var(--spacing-m);
    box-sizing: border-box;
  }
  
  @media (min-width: var(--breakpoint-sm)) {
    .container {
      padding: 0 var(--spacing-l);
    }
  }
  