.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .horizontal {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .vertical {
    flex-direction: column;
  }
  
  
